extends challenge/base.jade

block content
  h1= challenge.title
  h2 Content
  div= challenge.content
  h2 Author
  div
    a(href="{% url 'user' challenge.author.id %}")= challenge.author
  h2 Status
  div= challenge.status
  h2 Category
  div= challenge.category

  if user.id == challenge.author.id
    a(href="{% url 'challenge_edit' challenge.id %}") Edit

  h1 Claims
  ul
    for claim in claims
      li
        a(href="{% url 'claim_details' claim.id %}")= claim.content
  a(href="{% url 'claim_submit' challenge.id %}") Submit Claim
